*{
    -fx-text-fill: white;
    -fx-font-family: Cambria;
}
#wrapPane{
    -fx-background-color: rgba(40, 40, 40, 0.9);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: white;
}

#filmPane{
    -fx-background-color: rgba(40, 40, 40, 0.9);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: rgba(40, 40, 40, 0.9);
    /*-fx-background-radius: 25px;*/
    /*-fx-border-radius: 25px;*/
}

#contentPane{
    -fx-background-color: rgba(31, 31, 31, 0.9);
}

.button{
    -fx-pref-height: 40;
    -fx-background-color: transparent;
}

.HBox,
.VBox{
    -fx-spacing: 10px;
}

.VBox{
    -fx-padding: 0 5px 0 5px;
}

.button:hover{
    -fx-cursor: hand;
    -fx-background-color: #616161;
}

#titleLbl{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #f29900;
}

.sidebarItem{
    -fx-border-width: 0 0 1px 5px;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-font-size: 16px;
}

#contentPane .button{
    -fx-border-width: 1px 1px 1px 5px;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-font-size: 16px;
}

#closeBtn:hover{
    -fx-background-color: red;
}

.text-field{
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: white;
}

.scroll-pane,
.scroll-pane .viewport{
    -fx-background-color: transparent;
}

#centerPane *{
    -fx-font-size: 16px;
}

#filmInfoPane{
    -fx-padding: 10px;
}

#desTxf,
#desTxf .scroll-pane .content,
#reviewContentTxf,
#reviewContentTxf, .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-padding: 3px 0;
}

.image{
    -fx-background-radius: 25px;
}

#reviewLbl{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 0 0 0 5px;
}

#reviewPane *{
    -fx-font-size: 16px;
}

#reviewTitleLbl{
    -fx-font-weight: bold;
}

#formatGroup{
    -fx-font-size: 16px;
}